footer .container {
  padding: var(--default-padding);
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: var(--default-margin);
  background-color: rgb(var(--fog));
  color: rgb(var(--slate));

  .logo {
    grid-column: 1 / -1;

    img {
      height: 2rem;
    }
  }

  ul {
    list-style-type: none;

    li:first-of-type {
      margin-bottom: calc(var(--default-margin) / 2);
    }
  }

  .opening-hours {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: min-content;

    li:first-of-type {
      grid-column: 1/-1;
    }
  }

  .socials {
    grid-column: 1 / -1;
    display: flex;
    justify-content: center;
    gap: calc(var(--default-margin) * 2);

    b {
      display: none;
      margin-bottom: calc(var(--default-margin) / 2);
    }

    a::after {
      content: none;
    }

    img {
      width: 2rem;
      transition: all 0.2s ease-in-out;
    }

    img:hover {
      transform: scale(1.1);
    }
  }
}

/* Breakpoint 640px */
@media (min-width: 640px) {
  footer {
    .container {
      grid-template-columns: max-content 1fr 1fr;
      align-items: flex-start;

      .logo {
        grid-column: auto;
      }
    }
  }
}

/* Breakpoint 768px */
@media (min-width: 768px) {
  footer .container {
    grid-template-columns: max-content 1fr 1fr 1fr;
    align-items: flex-start;

    .socials {
      grid-column: auto;
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      gap: 0;

      b {
        display: block;
        grid-column: 1/-1;
      }
    }
  }
}

/* #region Breakpoint 1024px */
@media (min-width: 1024px) {
}
