header {
  position: sticky;
  top: 0;
  z-index: 100;
}

#toggle,
#nav-cta {
  display: none;
}

header .container {
  background-color: #fff;
  height: 4rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
  padding: var(--default-padding);
  box-shadow:
    0 4px 5px -4px rgba(var(--slate), 0.1),
    0 4px 15px rgba(var(--slate), 0.1);

  .logo {
    height: 2rem;
    pointer-events: none;
  }

  > a::after {
    content: none;
  }

  nav {
    .hamburger {
      display: flex;
      flex-direction: column;
      cursor: pointer;

      span {
        width: 30px;
        height: 3px;
        background: rgb(var(--slate));
        margin-bottom: 6px;
        transition: all 0.3s ease;
        border-radius: calc(var(--default-border-radius) / 4);
      }

      span:last-child {
        margin-bottom: 0;
      }
    }

    .nav-links {
      display: flex;
      flex-direction: column;
      gap: var(--default-margin);
      padding-bottom: var(--default-padding);
      width: 100%;
      position: absolute;
      left: 0;
      top: 4rem;
      list-style-type: none;
      background-color: rgb(var(--fog));
      opacity: 0;
      z-index: 100;

      li {
        font-size: calc(var(--base-font-size) * 0.9);
        text-transform: uppercase;
        padding: 0 var(--default-padding);
      }

      li:first-of-type {
        padding: 0;
      }

      a {
        color: rgb(var(--slate));
      }

      .nav-links-quick {
        display: flex;
        justify-content: space-between;
        align-items: stretch;
        width: 100%;

        .quick-contact,
        .quick-cta {
          flex: 1;
          border-bottom: 1px solid rgba(var(--graphite), 0.2);
        }

        .quick-contact div,
        .quick-cta div {
          padding: calc(var(--default-padding) / 2) var(--default-padding);
        }

        .quick-contact {
          border-right: 1px solid rgba(var(--graphite), 0.2);

          p {
            margin: 0;
          }
        }

        .quick-cta {
          display: flex;
          justify-content: flex-end;

          button {
            display: inline-flex;
            align-items: center;
            justify-content: center;
            gap: var(--default-margin);
          }
        }
      }
    }
  }
}

#toggle:checked ~ .nav-links {
  opacity: 1;
}

#toggle:checked ~ .hamburger span:nth-child(1) {
  transform: rotate(45deg) translate(9px, 4px);
}

#toggle:checked ~ .hamburger span:nth-child(2) {
  opacity: 0;
}

#toggle:checked ~ .hamburger span:nth-child(3) {
  transform: rotate(-45deg) translate(9px, -4px);
}

/* Breakpoint 640px */
@media (min-width: 641px) {
}

/* Breakpoint 768px */
@media (min-width: 769px) {
  #nav-cta {
    display: block;
  }

  header .container nav {
    .hamburger {
      display: none;
    }

    .nav-links {
      opacity: 1;
      position: static;
      padding: 0;
      background-color: transparent;
      flex-direction: row;

      li {
        padding: 0;
      }

      .nav-links-quick {
        display: none;
      }

      .active,
      .active:visited {
        position: relative;
      }

      .active::after {
        content: "";
        position: absolute;
        width: 100%;
        height: 0.12rem;
        bottom: -0.12rem;
        left: 0;
        background: rgb(var(--teal));
      }
    }
  }
}

/* #region Breakpoint 1024px */
@media (min-width: 1025px) {
}
