/* Etusivu */
.hero {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: var(--default-padding);
  background-image: url("../img/hero/hero.jpg");
  background-size: cover;
  min-height: 50vh;

  .hero-inner {
    text-align: center;

    p {
      color: rgb(var(--slate));
      max-width: 40ch;
      text-align: center;
    }

    .buttons {
      display: flex;
      align-items: flex-start;
      justify-content: center;
      gap: var(--default-margin);
      margin: 2rem 0;
    }
  }
}

.landing-services {
  padding: var(--default-padding);

  .inner {
    .services-cta {
      i {
        display: none;
      }

      a {
        display: inline-flex;
        align-items: center;
        gap: calc(var(--default-margin) / 2);
        i {
          display: inline-block;
          font-size: 1rem;
          color: rgb(var(--fog));
        }
      }
    }
  }
}

.popular-services {
  padding: var(--default-padding);
  .cards {
    .card {
      padding: 0;
    }

    .card-upper {
      height: 10rem;

      img {
        border-radius: var(--default-border-radius) var(--default-border-radius) 0 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }

    .card-lower {
      padding: var(--default-padding);

      .service {
        font-size: var(--h4-font-size);
        margin: calc(var(--default-margin) / 2) 0;
      }

      a {
        display: inline-flex;
        align-items: center;
        gap: calc(var(--default-margin) / 2);
      }
    }
  }
}

.landing-principles {
  padding: var(--default-padding);
  .inner {
    .why-us {
      list-style-type: none;
      display: flex;
      flex-direction: column;
      gap: var(--default-margin);
      li {
        ul {
          list-style-type: none;

          li:first-of-type {
            display: inline-flex;
            align-items: center;
            gap: calc(var(--default-margin) / 2);
            font-weight: bolder;
          }

          li:nth-child(2) {
            padding-left: 1.5rem;
          }
        }
      }
    }
  }
}

.landing-feedback {
  padding: var(--default-padding);
  .inner {
    margin-top: var(--default-margin);
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: var(--default-margin);

    .card {
      margin: 0;
      small {
        margin: 0;
        padding: 0.25rem 0;
        border: 0;
        background-color: transparent;
        display: block;
      }

      .user {
        display: flex;
        align-items: flex-start;
        gap: var(--default-margin);

        .picture {
          img {
            border-radius: 180px;
          }
        }

        .details {
          p {
            font-size: var(--h4-font-size);
            font-weight: 500;
            margin: 0;
            line-height: 1;
          }

          i {
            color: rgb(var(--teal));
            font-size: 0.8rem;
          }
        }
      }
      .message {
        .cite {
          font-size: var(--h6-font-size);
          font-weight: 500;
        }
      }
    }
  }
}

/* Breakpoint 640px */
@media (min-width: 640px) {
  .hero {
    background-position: 50% 70%;
  }

  .landing-services {
    .inner {
      display: flex;

      .text {
        flex: 2;
      }

      .services-cta {
        flex: 1;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: calc(var(--default-margin) * 2);

        i {
          display: block;
          font-size: 8rem;
          color: rgb(var(--teal), 0.3);
        }
      }
    }
  }

  .landing-principles {
    .inner {
      padding: var(--default-padding) 0;
      .why-us {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
      }
    }
  }

  .popular-services {
    .cards {
      display: flex;
      gap: var(--default-margin);

      .card {
        flex: 1;

        .card-lower .text-accent {
          max-width: 12ch;
        }
      }
    }
  }
}

/* Breakpoint 768px */
@media (min-width: 768px) {
  .hero {
    background-position: 50% 70%;
  }
}

/* #region Breakpoint 1024px */
@media (min-width: 1024px) {
  .hero {
    background-position: 90% 70%;
  }

  .landing-principles {
    .inner {
      .why-us {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
      }
    }
  }

  .popular-services .cards .card .card-lower .text-accent {
    max-width: none;
  }

  .landing-feedback {
    .inner {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
    }
  }
}
