/* Etusivu */

.hero {
  display: flex;
  justify-content: center;
  padding: var(--default-padding);
  background-image: url("../img/hero/hero.jpg");
  background-size: cover;
  min-height: 50vh;

  .hero-inner {
    text-align: center;

    p {
      color: rgb(var(--slate));
      max-width: 34ch;
    }

    .buttons {
      display: flex;
      justify-content: center;
      gap: var(--default-margin);
      margin: 2rem 0;

      button {
        border: none;
      }
    }
  }
}

.landing-services {
  padding: var(--default-padding);

  .popular-services {
    .cards {
      .card {
        padding: 0;
      }

      .card-upper {
        height: 10rem;

        img {
          border-radius: var(--default-border-radius) var(--default-border-radius) 0 0;
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }

      .card-lower {
        padding: var(--default-padding);

        h4 {
          margin: 0;
        }

        a {
          display: inline-flex;
          align-items: center;
          gap: calc(var(--default-margin) / 2);
        }
      }
    }
  }
}

.landing-principles {
  padding: var(--default-padding);

  .inner {
    .why {
      list-style-type: none;
      margin-bottom: var(--default-margin);

      li {
        display: inline-flex;
        align-items: center;
        gap: calc(var(--default-margin) / 2);
      }

      > li {
        font-weight: bolder;
      }

      ul {
        list-style-type: none;

        li {
          margin-left: calc(var(--default-margin) * 1.5);
        }
      }

      > ul {
        margin-bottom: var(--default-margin);
      }

      .text-accent {
        margin: var(--default-margin) 0;
      }
    }

    .how {
      list-style-position: inside;

      > li {
        font-weight: bolder;
      }

      ul {
        margin-bottom: var(--default-margin);

        li {
          list-style-type: none;
        }
      }

      .text-accent {
        margin: var(--default-margin) 0;
      }
    }
  }
}

.landing-feedback {
  padding: var(--default-padding);
  .inner {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: var(--default-margin);

    .card {
      margin: 0;
      small {
        margin: 0;
        padding: 0.25rem 0;
        border: 0;
        background-color: transparent;
        display: block;
      }

      i {
        color: rgb(var(--teal));
      }

      .user {
        display: flex;
        align-items: flex-start;
        gap: var(--default-margin);

        .picture {
          img {
            border-radius: 180px;
          }
        }

        .details {
          h4 {
            margin: 0;
          }
        }
      }
    }
  }
}

/* Breakpoint 640px */
@media (min-width: 640px) {
  .hero {
    background-position: 50% 70%;
  }

  .popular-services {
    .cards {
      display: flex;
      gap: var(--default-margin);

      .card {
        flex: 1;

        .card-lower .text-accent {
          max-width: 12ch;
        }
      }
    }
  }
}

/* Breakpoint 768px */
@media (min-width: 768px) {
  .hero {
    background-position: 50% 70%;
  }

  .landing-principles {
    .inner {
      display: flex;
      flex-direction: row;
      gap: var(--default-margin);

      .why,
      .how {
        flex: 1;
      }

      .why {
      }
    }
  }
}

/* #region Breakpoint 1024px */
@media (min-width: 1024px) {
  .hero {
    background-position: 90% 70%;
  }

  .popular-services .cards .card .card-lower .text-accent {
    max-width: none;
  }

  .landing-feedback {
    .inner {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
    }
  }
}
