.services {
  padding: var(--default-padding);

  .how {
    display: flex;
    flex-direction: column;
    gap: var(--default-margin);
    counter-reset: step-counter;
    ul {
      list-style-type: none;
      counter-increment: step-counter;

      li:first-child {
        font-weight: bolder;
      }

      li:first-child::before {
        content: counter(step-counter) ". ";
      }
    }
  }

  .cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;

    .card {
      .icon {
        font-size: 500%;
        color: rgb(var(--teal));
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }
  }
}

.pricelist {
  padding: var(--default-padding);

  /* Table */
  table {
    width: 100%;
    border-collapse: collapse;
    table-layout: fixed;

    th,
    td {
      padding: 12px;
      text-align: left;
    }

    th {
      background-color: rgba(var(--teal), 0.3);
    }

    tbody tr:hover {
      background-color: rgba(var(--teal), 0.1);
      font-weight: bold;
      cursor: pointer;
    }
  }
}

.pricelist th:nth-child(2),
.pricelist td:nth-child(2) {
  display: none;
}

/* Breakpoint 640px */
@media (min-width: 640px) {
  .services {
    .how {
      display: grid;
      grid-auto-flow: column;
      grid-template-rows: repeat(3, auto);
      grid-template-columns: 1fr 1fr;
      gap: var(--default-margin);
    }
  }

  .pricelist th:nth-child(2),
  .pricelist td:nth-child(2) {
    display: table-cell;
  }
}

/* Breakpoint 768px */
@media (min-width: 768px) {
}

/* #region Breakpoint 1024px */
@media (min-width: 1024px) {
  .services {
    .how {
      display: grid;
      grid-auto-flow: column;
      grid-template-rows: repeat(2, auto);
      grid-template-columns: 1fr 1fr 1fr;
      gap: var(--default-margin);
    }

    .card:hover {
      transform: translateY(-6px);
      box-shadow: 0 8px 20px rgba(var(--slate), 0.15);
      cursor: pointer;
    }
  }
}
