.services {
  padding: var(--default-padding);

  .cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;

    .card {
      .icon {
        font-size: 500%;
        color: rgb(var(--teal));
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }
  }
}

.pricelist {
  padding: var(--default-padding);

  /* Table */
  table {
    width: 100%;
    border-collapse: collapse;
    table-layout: fixed;

    th,
    td {
        padding: 12px;
        text-align: left;
    }

    th {
        background-color: rgba(var(--teal), 0.3);
    }
    
    tbody tr:hover {
        background-color: rgba(var(--teal), 0.1);
        font-weight: bold;
        cursor: pointer;
    }
  }
}

.pricelist th:nth-child(2),
.pricelist td:nth-child(2) {
        display: none;
    }

/* Breakpoint 640px */
@media (min-width: 640px) {
    .pricelist th:nth-child(2),
    .pricelist td:nth-child(2) {
        display: table-cell;
    }

}

/* Breakpoint 768px */
@media (min-width: 768px) {
}

/* #region Breakpoint 1024px */
@media (min-width: 1024px) {
    .services {
        .card:hover {
            transform: translateY(-6px);
            box-shadow: 0 8px 20px rgba(var(--slate), 0.15);
            cursor: pointer;
        }
    }
}
