@import url("defaults.css");
/* Muuttujat cheatsheet
  --slate: 34, 40, 49;
  --graphite: 113, 117, 125;
  --teal: 0, 173, 181;
  --fog: 238, 238, 238;

  --base-font-size: 16px;
  --font-family: "DM Sans", sans-serif;
  --h1-font-size: 2.074rem;
  --h2-font-size: 1.728rem;
  --h3-font-size: 1.44rem;
  --h4-font-size: 1.2rem;
  --h5-font-size: 1.096rem;
  --h6-font-size: 1rem;
  --text-accent-font-size: 0.833rem;
  --small-font-size: 0.761rem;

  --default-padding: 1rem;

  --default-margin: 1rem;

  --default-border-radius: 1rem;
*/

/* #region Header, Navigaatio */
header .container {
  height: 4rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
  padding: var(--default-padding);
}

header .logo {
  height: 2rem;
}

#toggle,
#nav-cta {
  display: none;
}

.hamburger {
  display: flex;
  flex-direction: column;
  cursor: pointer;
}

.hamburger span {
  width: 30px;
  height: 3px;
  background: rgb(var(--slate));
  margin-bottom: 6px;
  transition: all 0.3s ease;
  border-radius: calc(var(--default-border-radius) / 4);
}

.hamburger span:last-child {
  margin-bottom: 0;
}

.nav-links {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--default-margin);
  padding: var(--default-padding) 0;
  width: 100%;
  position: absolute;
  left: 0;
  top: 4rem;
  list-style-type: none;
  background-color: rgb(var(--fog));
  opacity: 0;
}

.nav-links a {
  color: rgb(var(--slate));
}

#toggle:checked ~ .nav-links {
  opacity: 1;
}

/* Animoi hampurilaisikoni X:ksi */
#toggle:checked ~ .hamburger span:nth-child(1) {
  transform: rotate(45deg) translate(9px, 4px);
}

#toggle:checked ~ .hamburger span:nth-child(2) {
  opacity: 0;
}

#toggle:checked ~ .hamburger span:nth-child(3) {
  transform: rotate(-45deg) translate(9px, -4px);
}
/* #endregion */

/* #region Hero */

/* #endregion */

/* #region Footer */
footer {
  background-color: rgb(var(--fog));
  color: rgb(var(--slate));
}

footer .container {
  padding: var(--default-padding);
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: var(--default-margin);
}

footer p {
  margin: 0;
}

footer h5 {
  margin-top: 0;
}

footer .logo img {
  height: 2rem;
}

footer .logo,
footer .socials {
  grid-column: 1 / -1;
}

footer .opening-hours {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-auto-rows: min-content;
}

footer .opening-hours h5 {
  grid-column: 1/-1;
}

footer .socials {
  display: flex;
  justify-content: center;
  gap: calc(var(--default-margin) * 2);
}

footer .socials h5 {
  display: none;
}

footer .socials img {
  width: 2rem;
}

/* #endregion */

/* #region Breakpoint 640px */
@media (min-width: 641px) {
  /* #region Footer */
  footer .container {
    grid-template-columns: max-content 1fr 1fr;
    align-items: flex-start;
  }

  footer .logo {
    grid-column: auto;
  }
  /* #endregion */
}
/* #endregion */

/* #region Breakpoint 768px */
@media (min-width: 769px) {
  body {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  /* #region Header, Navigaatio */
  #nav-cta {
    display: block;
  }

  .nav-links button,
  .hamburger {
    display: none;
  }

  .nav-links {
    opacity: 1;
    position: static;
    padding: 0;
    background-color: transparent;
    flex-direction: row;
  }

  .nav-links .active,
  .nav-links .active:visited {
    position: relative;
  }

  .nav-links .active::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 0.12rem;
    bottom: -0.12rem;
    left: 0;
    background: rgb(var(--teal));
  }
  /* #endregion*/
  /* #region Footer */
  footer .container {
    grid-template-columns: max-content 1fr 1fr 1fr;
    align-items: flex-start;
  }

  footer .socials {
    grid-column: auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 0;
  }

  footer .socials h5 {
    display: block;
    grid-column: 1/-1;
  }
  /* #endregion */
}
/* #endregion */

/* #region Breakpoint 1024px */
@media (min-width: 1025px) {
  .nav-links {
    gap: calc(var(--default-margin) * 2);
  }
  footer .container {
    grid-template-columns: max-content 1fr 1fr 1fr;
  }
}
/* #endregion */
