.faq {
  padding: var(--default-padding);
  transition: all 0.2s ease;

  .inner {
    display: flex;
    flex-direction: column;
    gap: var(--default-margin);

    details[open] summary .selector {
      transform: rotate(180deg);
    }

    details {
      margin: 0;

      summary {
        cursor: pointer;
        display: flex;
        align-items: center;
        gap: var(--default-margin);
        user-select: none;

        span {
          flex-grow: 1;
        }

        .selector {
          font-size: var(--base-font-size);
        }

        i {
          font-size: 2rem;
          color: rgba(var(--teal), 1);
        }
      }
    }
  }
}

.contact-form {
  padding: var(--default-padding);
}
/* Breakpoint 640px */
@media (min-width: 640px) {
  .faq {
    .inner {
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: var(--default-margin);
      align-items: start;

      details {
        height: fit-content;
      }
    }
  }
}

/* Breakpoint 768px */
@media (min-width: 768px) {
}

/* #region Breakpoint 1024px */
@media (min-width: 1024px) {
}
