details {
    border: 1px solid #ddd;
    border-radius: 12px;
    padding: var(--default-padding);
    margin-bottom: var(--default-margin);
}

details summary {
    cursor: pointer;
}

details p {
    font-style: italic;
}

.ukk {
    margin: var(--default-margin)
}

.contact-form {
    margin-left: var(--default-padding);
    margin-bottom: var(--default-padding);
}

.contact-form form {
    display: flex;
    flex-direction: column;
    max-width: 400px;
}

.contact-form button {
    align-self: flex-start;
}


/* Breakpoint 640px */
@media (min-width: 640px) {
}

/* Breakpoint 768px */
@media (min-width: 768px) {
}

/* #region Breakpoint 1024px */
@media (min-width: 1024px) {
}
