@import url(defaults.css);

section {
  margin-bottom: calc(var(--default-margin) * 3);
}

section:first-of-type {
  margin-top: calc(var(--default-margin) * 2);
}

/* #region Väripaletti */
.slate {
  color: rgb(var(--slate));
}

.graphite {
  color: rgb(var(--graphite));
}

.teal {
  color: rgb(var(--teal));
}

.fog {
  color: rgb(var(--fog));
}

.palette-inner {
  display: flex;
  flex-direction: column;
  gap: var(--default-margin);
}

.slate-upper,
.graphite-upper,
.teal-upper,
.fog-upper {
  min-height: 3rem;
  border: 1px solid rgba(var(--slate), 0.1);
  border-bottom: none;
  border-radius: var(--default-border-radius) var(--default-border-radius) 0 0;
  box-shadow: 0 2px 8px rgba(var(--slate), 0.07);
}

.slate-upper {
  background-color: rgb(var(--slate));
}

.graphite-upper {
  background-color: rgb(var(--graphite));
}

.teal-upper {
  background-color: rgb(var(--teal));
}

.fog-upper {
  background-color: rgb(var(--fog));
}

.color-lower {
  display: flex;
  flex-direction: column;
  padding: var(--default-padding);
  background-color: #fff;
  border: 1px solid rgba(var(--slate), 0.1);
  border-top: none;
  border-radius: 0 0 var(--default-border-radius) var(--default-border-radius);
  box-shadow: 0 2px 8px rgba(var(--slate), 0.07);
}

.color-lower p {
  margin: 0;
}
/* #endregion */

/* #region Kuvitus */
.icons-inner {
  display: flex;
  justify-content: space-around;
  padding: var(--default-padding) 0;
}
.icons-inner i {
  font-size: 3rem;
}
/* #endregion */

/* #region Typografia */
.font-family h3,
.font-family p {
  margin: 0;
}

.typography-inner .font-family {
  margin-bottom: var(--default-margin);
}

.typography-inner hr {
  border: 1px solid rgba(var(--fog), 0.6);
}

.typography-inner .fonts hr {
  grid-column: 1/-1;
}
/* #endregion */

/* #region Välistys */
.padding-xy,
.padding-y {
  display: flex;
  flex-direction: column;
  align-items: baseline;
  gap: var(--default-padding);
}

.padding-y {
  flex-direction: row;
}

.padding-xy div,
.padding-y div {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgba(var(--teal), 0.2);
}

.padding-xy div small,
.padding-y div small {
  margin: 0;
}
/* #endregion */

/* #region Painikkeet */
.buttons-inner {
  display: grid;
  gap: var(--default-margin);
  grid-template-columns: repeat(3, 1fr);
}

.btn-types,
.btn-sizes,
.btn-state {
  display: flex;
  flex-direction: column;
  gap: var(--default-margin);
}
/* #endregion */

/* #region Breakpoint 640px */
@media (min-width: 641px) {
  /* NOTE: Väripaletti */
  .palette-inner {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: var(--default-padding);
  }

  .slate,
  .graphite,
  .teal,
  .fog {
    margin: 0;
  }

  /* NOTE: Typografia */
  .fonts {
    display: grid;
    grid-template-columns: auto 1fr;
    gap: var(--default-margin);
    align-items: center;
  }

  /* NOTE: Välistys */
  .padding-xy {
    flex-direction: row;
  }

  /* NOTE: Painikkeet */

  /* NOTE: Lomakkeet */

  /* NOTE: Kortit */

  /* NOTE: Ilmoitukset */
}
/* #endregion */

/* #region Breakpoint 768px */
@media (min-width: 769px) {
  body {
    display: flex;
    justify-content: center;
  }

  .container {
    max-width: 768px;
  }

  /* NOTE: Väripaletti */
  .palette-inner {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: var(--default-padding);
  }

  /* NOTE: Typografia */

  /* NOTE: Välistys */

  /* NOTE: Painikkeet */
  .btn-sizes {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
  }

  /* NOTE: Lomakkeet */
  form {
    display: flex;
    gap: var(--default-margin);
    align-items: stretch;
  }

  form .details,
  form .message {
    flex: 1;
  }

  form .message {
    display: flex;
    flex-direction: column;
  }

  form .message textarea {
    flex: 1;
  }

  /* NOTE: Kortit */
  .cards-inner {
    display: flex;
    gap: var(--default-padding);
  }

  /* NOTE: Ilmoitukset */
}
/* #endregion */

/* #region Breakpoint 1024px */
@media (min-width: 1025px) {
  /* NOTE: Väripaletti */
  .palette-inner {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: var(--default-padding);
    align-items: stretch;
  }

  .color-card {
    display: flex;
    flex-direction: column;
    height: 100%;
  }
  .color-lower {
    height: 100%;
  }

  /* NOTE: Typografia */

  /* NOTE: Välistys */

  /* NOTE: Painikkeet */

  /* NOTE: Lomakkeet */

  /* NOTE: Kortit */

  /* NOTE: Ilmoitukset */
}
/* #endregion */
