@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap");

:root {
  --slate: 34, 40, 49; /* Teksti, otsikot */
  --graphite: 113, 117, 125; /* Toissijainen teksti */
  --teal: 0, 173, 181; /* Tehosteväri */
  --fog: 238, 238, 238; /* Tausta */

  --base-font-size: 16px;
  --font-family: "DM Sans", system-ui, sans-serif;
  --h1-font-size: 2.074rem;
  --h2-font-size: 1.728rem;
  --h3-font-size: 1.44rem;
  --h4-font-size: 1.2rem;
  --h5-font-size: 1.096rem;
  --h6-font-size: 1rem;
  --text-accent-font-size: 0.833rem;
  --small-font-size: 0.761rem;
  --p-scaled-down: calc(var(--base-font-size) * 0.8);

  --default-text-padding: 0.5rem;
  --default-element-padding: 1rem;
  --default-text-margin: 0.5rem 0;
  --default-element-margin: 1rem 0;
  --default-border-radius: 1rem;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: var(--base-font-size);
}

body {
  background-color: rgba(var(--fog), 0.4);
  font-family: var(--font-family);
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.6;
  color: var(--slate);
}

p {
  margin: var(--default-text-margin);
  font-family: var(--font-family);
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.6;
  color: var(--slate);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: var(--default-text-margin);
  font-family: var(--font-family);
  font-weight: 500;
  color: var(--slate);
}

h1 {
  font-size: var(--h1-font-size);
  line-height: 1.2;
}

h2 {
  font-size: var(--h2-font-size);
  line-height: 1.25;
}

h3 {
  font-size: var(--h3-font-size);
  line-height: 1.3;
}

h4 {
  font-size: var(--h4-font-size);
  line-height: 1.35;
}

h5 {
  font-size: var(--h5-font-size);
  line-height: 1.4;
}

h6 {
  font-size: var(--h6-font-size);
  line-height: 1.4;
}

.text-accent {
  margin: var(--default-text-margin);
  font-size: var(--text-accent-font-size);
  line-height: 1.4;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 0.05rem;
  color: rgb(var(--teal));
}

small {
  margin: var(--default-text-margin);
  font-size: var(--small-font-size);
  line-height: 1.5;
  font-weight: 400;
  color: rgb(var(--graphite));
}

/* TODO: Tyyliohjesivu-spesifit */
.container {
  padding: 1rem;
}

hr {
  margin: var(--default-element-margin);
  border: 1px solid rgba(var(--fog), 0.5);
}

/* NOTE: Väripaletti */

/* NOTE: Typografia */

/* NOTE: Välistys */

/* NOTE: Painikkeet */

/* NOTE: Lomakkeet */

/* NOTE: Kortit */
.card {
  margin: var(--default-element-margin);
  padding: var(--default-element-padding);
  background-color: #fff;
  border: 1px solid rgba(var(--slate), 0.1);
  border-radius: var(--default-border-radius);
  box-shadow: 0 2px 8px rgba(var(--slate), 0.07);
}

.card p {
  font-size: var(--p-scaled-down);
}

.card-accent {
  background-color: rgba(var(--teal), 0.2);
  border: 1px solid rgba(var(--teal), 0.2);
}

.card small {
  text-transform: uppercase;
  padding: var(--default-text-padding);
  background-color: rgb(var(--fog));
  border-radius: var(--default-border-radius);
  border: 1px solid rgba(var(--slate), 0.1);
}

.card-accent small {
  background-color: rgba(var(--teal), 0.2);
  color: rgb(var(--teal));
  border: 1px solid rgb(var(--teal));
}

.card-accent hr {
  border: 1px solid rgba(var(--teal), 0.1);
}

/* NOTE: Ilmoitukset */
.notification {
  margin: var(--default-element-margin);
  padding: var(--default-text-padding);
  border-radius: calc(var(--default-border-radius) / 4);
}

.notification p {
  font-size: var(--p-scaled-down);
}

.notifications-inner .info {
  background-color: rgba(0, 174, 181, 0.1);
  border-left: 5px solid rgb(0, 174, 181);
}

.notifications-inner .success {
  background-color: rgba(40, 175, 96, 0.1);
  border-left: 5px solid rgb(40, 175, 96);
}

.notifications-inner .warning {
  background-color: rgba(230, 126, 35, 0.1);
  border-left: 5px solid rgb(230, 126, 35);
}

.notifications-inner .error {
  background-color: rgba(192, 58, 43, 0.1);
  border-left: 5px solid rgb(192, 58, 43);
}

/* Break Pointit */
/* Pienet tabletit ja isommat mobiililaitteet (481px - 768px) */
@media (min-width: 481px) {
}

/* Tabletit ja pienemmät desktopit */
@media (min-width: 769px) {
  body {
    display: flex;
    justify-content: center;
  }

  .container {
    max-width: 768px;
  }
  .cards-inner {
    display: flex;
    gap: var(--default-element-padding);
  }
}

/* Isommat desktopit */
@media (min-width: 1025px) {
}
